.test {
background-color: black;
font-family: 'existencelight';
font-size: 150%;
width: 200px;
height: 200px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
-webkit-animation: mysecond 3s linear 2s infinite alternate;
}

.test3 {
background-color: #B22222;
font-family: 'existencelight';
font-size: 150%;
width: 700px;
height: 700px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
-webkit-animation: myfirst 8s linear 2s infinite alternate;
}

.test2 {
background-color: #CD5C5C;
font-family: 'existencelight';
font-size: 150%;
width: 450px;
height: 450px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
-webkit-animation: mythird 5s linear 5s infinite alternate;
}

.backgroundtest {
width:1422px;
height:734px;
background:#660000;
animation:myfourth 50s;
-webkit-animation:myfourth 50s linear 5s infinite alternate;

}


/* background */
@-webkit-keyframes myfourth {
0%   {background:#660000;}
25%  {background:#800000;}
50%  {background:#FF6600;}
100% {background:#FFFF66;}

}




/* circle */
@-webkit-keyframes mythird {
    0%   {right:0px; bottom:0px;}
    25%  {right:50px; bottom:0px;}
    50%  {right:50px; bottom:50px;}
    75%  {right:0px; bottom:50px;}
    100% {right:0px; bottom:0px;}

}

@-webkit-keyframes mysecond {
    0%   {right:40px; bottom:40px;}
    25%  {right:0px; bottom:50px;}
    50%  {right:40px; bottom:40px;}
    75%  {right:50px; bottom:0px;}
    100% {right:40px; bottom:40px;}

}

@-webkit-keyframes myfirst {
    0%   {right:50px; bottom:0px;}
    25%  {right:0px; bottom:50px;}
    50%  {right:0px; bottom:-60px;}
    75%  {right:-70px; bottom:50px;}
    100% {right:0px; bottom:-40px;}

}
