.test {
background-color: black;
font-family: 'existencelight';
font-size: 150%;
width: 150px;
height: 150px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;transition:width 2s, height 2s;
-webkit-transition:width 1s, height 1s, -webkit-transform 1s;
-webkit-animation: mysecond 3s linear 2s infinite alternate;
}

.test:hover
{
width:200px;
height:200px;
-webkit-transform:rotate(360deg);
}

.test3 {
background-color: #B22222;
font-family: 'existencelight';
font-size: 150%;
width: 500px;
height: 500px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
transition:width 2s, height 2s;
-webkit-transition:width 1s, height 1s, -webkit-transform 1s;
-webkit-animation: myfirst 8s linear 2s infinite alternate;
}

.test3:hover
{
width:600px;
height:600px;
-webkit-transform:rotate(360deg);
}

.test2 {
background-color: #CD5C5C;
font-family: 'existencelight';
font-size: 150%;
width: 350px;
height: 350px;
border-radius: 50%;
text-align: center;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
transition:width 1s, height 1s;
-webkit-transition:width 1s, height 1s, -webkit-transform 1s;
-webkit-animation: mythird 5s linear 5s infinite alternate;
}

.test2:hover
{
width:450px;
height:450px;
-webkit-transform:rotate(360deg);
}

.backgroundtest {
width:1422px;
height:734px;
background:#660000;
animation:myfourth 50s;
-webkit-animation:myfourth 50s linear 5s infinite alternate;

}


/* background */
@-webkit-keyframes myfourth {
0%   {background:#660000;}
25%  {background:#800000;}
50%  {background:#FF6600;}
100% {background:#FFFF66;}

}




/* circle */
@-webkit-keyframes mythird {
    0%   {right:0px; bottom:0px;}
    25%  {right:50px; bottom:0px;}
    50%  {right:50px; bottom:50px;}
    75%  {right:0px; bottom:50px;}
    100% {right:0px; bottom:0px;}

}

@-webkit-keyframes mysecond {
    0%   {right:40px; bottom:40px;}
    25%  {right:0px; bottom:50px;}
    50%  {right:40px; bottom:40px;}
    75%  {right:50px; bottom:0px;}
    100% {right:40px; bottom:40px;}

}

@-webkit-keyframes myfirst {
    0%   {right:50px; bottom:0px;}
    25%  {right:0px; bottom:50px;}
    50%  {right:0px; bottom:-60px;}
    75%  {right:-70px; bottom:50px;}
    100% {right:0px; bottom:-40px;}

}
