.body {
    
}

 mork
 background-color: red;
}

.two{
 background-color: line;
}
.div{
    padding:28px;
    border:10px solid red;
}

.div div{
    border:10px solid line;
}

a {
    text-decoration: none;
    color: ;
}