body
{
  margin:20px;
  padding:0;
  background: rgb(246,221,147);
  box-shadow:inset 0px 0px 0px rgba(80,10,0,0.5);
}

audio {
  display: none;
}

.menu1 {   
    width: 10px; 
    height: 10px; 
      background: red; 
      border-radius: 5px; 
    position: absolute;
    margin:110px 0px 0px 600px;
} 

.menu1:hover { 
    width: 1600px; 
    height: 700px; 
    background: url(image/menu1.png); 
    position: absolute;
    opacity:1;
    margin:124px 0px 0px 70px;
    z-index:100;
    
} 

.menu2 {   
    width: 10px; 
    height: 10px; 
      background: red; 
      border-radius: 5px; 
    position: absolute;
    margin:243px 0px 0px 600px;
} 

.menu2:hover {   
    width: 1600px; 
    height: 835px; 
    background: url(image/menu2.png); 
    opacity:1;
    position: absolute;
    margin:-21px 0px 0px 70px;
    z-index:100;
    border-radius: 200px;
} 

.menu3 {   
    width: 10px; 
    height: 10px; 
      background: red; 
      border-radius: 5px; 
    position: absolute;
    margin:375px 0px 0px 600px;
} 

.menu3:hover {   
    width: 1600px; 
    height: 835px; 
    background: url(image/menu3.png);
    opacity:1;
    position: absolute;
    border-radius: 200px;
    margin:-21px 0px 0px 71px;
    z-index:100;
} 

.menu4 {   
    width: 10px; 
    height: 10px; 
      background: red; 
      border-radius: 5px; 
    position: absolute;
    margin:505px 0px 0px 600px;
} 

.menu4:hover {   
    width: 1600px; 
    height: 835px; 
    background: url(image/menu4.png);
    position: absolute;
    margin:-21px 0px 0px 71px;
    z-index:100;
    border-radius: 200px;
} 

.menu5 {   
    width: 1675px; 
    height: 136px; 
    background: url(image/mozartbar.jpg); 
    opacity:0.8; 
    position: absolute;
    margin:518px 0px 0px 0px;
} 

.menu5:hover {   
    width: 1675px; 
    height: 136px; 
    background: url(image/mozartbar.jpg);
    position: absolute;
    margin:518px 0px 0px 0px;
} 

.menu6 {   
    width: 10px; 
    height: 10px; 
      background: red; 
      border-radius: 5px; 
    position: absolute;
    margin:766px 0px 0px 600px;
} 

.menu6:hover {   
    width: 1600px; 
    height: 674px; 
    background: url(image/menu6.png);
    position: absolute;
    margin:-21px 0px 0px 72px;
    z-index:100;
} 


@-webkit-keyframes move {
0%{}
25%{
  opacity:.3;
}
  50%{
  opacity:1;
}
  75%{
  opacity:.7;
}
  100%{ -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);}
}


* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background-position: center center;
  background-size: cover;
}
body {
  height: 100%;
  overflow: hidden;

}
